@{
    ViewData["Title"] = "Admin Create Rooms";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model Hotel_Core_System.Models.ViewModels.RoomVM
@{  
   var success = ViewBag.Success;   
} 

<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Rooms</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Room Infomation</li>
    </ol>
</nav>



<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Edit Room Details</h6>
                <form  method="post" enctype="multipart/form-data" asp-controller="Room" asp-action="PostRoom">
                    @if(success != null)
                    {
                        <div class="text-success">@success</div>
                    }
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.RoomNumber)
                        <input type="text" asp-for="RoomNumber" class="form-control" placeholder="Enter Name">
                        <span asp-validation-for="RoomNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.RoomDescription)
                        <textarea asp-for="RoomDescription" class="form-control" placeholder="Enter Description"></textarea>
                        <span asp-validation-for="RoomDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MaxAdult)
                        <input type="number" asp-for="MaxAdult" class="form-control" placeholder="Enter Number">
                        <span asp-validation-for="MaxAdult" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MaxChild)
                        <input type="number" asp-for="MaxChild" class="form-control" placeholder="Enter Number">
                        <span asp-validation-for="MaxChild" class="text-danger"></span>
                    </div>

                    <div class="form-group">                       
                        @Html.LabelFor(model => model.RoomType)
                        <select asp-for="RoomType" asp-items="@(new SelectList(ViewBag.RoomTypeList, "Id", "Type_name"))" class="form-control"></select>
                         <span asp-validation-for="RoomType" class="text-danger"></span>
                    </div>

                    <div class="form-group">                       
                        @Html.LabelFor(model => model.RoomFeaturesValues)
                        <select asp-for="RoomFeaturesValues" asp-items="@(new SelectList(ViewBag.RoomFeaturesList, "Id", "Feature_Name"))" multiple class="form-control"></select>
                         <span asp-validation-for="RoomFeaturesValues" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BookingPrice)
                        <input type="number" asp-for="BookingPrice" class="form-control" placeholder="Enter Name">
                        <span asp-validation-for="BookingPrice" class="text-danger"></span>
                    </div>

                     <div class="form-group">
                        @Html.LabelFor(model => model.ImageFile)
                        <div class="input-group col-xs-12">
                            <input type="file" asp-for="ImageFile" class="form-control file-upload-info" accept="image/*" multiple="multiple">
                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-check form-check-flat form-check-primary">
                        <label class="form-check-label">
                            <span asp-validation-for="IsSmokingAllowed" class="text-danger"></span>
                            <input type="checkbox" asp-for="IsSmokingAllowed" class="form-check-input">
                            Is Smoking Allowed
                        </label>
                    </div>

                    <div class="form-check form-check-flat form-check-primary">
                        <label class="form-check-label">
                            <span asp-validation-for="IsRoomAvailable" class="text-danger"></span>
                            <input type="checkbox" asp-for="IsRoomAvailable" class="form-check-input">
                           Is Room Available
                        </label>
                    </div>

                   
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </form>
            </div>
        </div>
    </div>
</div>




