@model Hotel_Core_System.Models.ViewModels.UserAddVM
@{
    ViewData["Title"] = "Add Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="User" asp-action="UsersAll">Users</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Users</li>
    </ol>
</nav>



<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Create New User</h6>
                <form method="post" enctype="multipart/form-data" asp-controller="User" asp-action="PostUser">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name)
                        <input type="text" asp-for="Name" class="form-control" placeholder="Enter Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email)
                        <input type="email" asp-for="Email" class="form-control" placeholder="Enter Valid Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PhoneNumber)
                        <input type="number" asp-for="PhoneNumber" class="form-control"  >
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Password)
                        <input type="password" asp-for="Password" class="form-control" placeholder="Enter Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword)
                        <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Enter Password">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.imageName)
                        @*<input type="file" asp-for="ImageFile" class="file-upload-default">*@
                        <div class="input-group col-xs-12">
                            <input type="file" asp-for="ImageFile"  class="form-control file-upload-info" accept="image/*">
                            <span class="input-group-append">
                                <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                            </span>
                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.roleName)
                        <select asp-for="roleName" asp-items="@(new SelectList(ViewBag.RoleList, "Id", "Name"))" class="js-example-basic-single w-100"></select>
                        <span asp-validation-for="roleName" class="text-danger"></span>
                    </div>
                   
                    <div class="form-group">
                        @Html.LabelFor(model => model.Message)
                        <textarea class="form-control" asp-for="Message" id="exampleFormControlTextarea1" rows="5"></textarea>
                        
                    </div>
                    
                    
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </form>
            </div>
        </div>
    </div>
</div>