@using Hotel_Core_System.Models.ViewModels
@{
    ViewData["Title"] = "Admin All Rooms";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model IEnumerable<AccountVM>  


<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Users</a></li>
        <li class="breadcrumb-item active" aria-current="page">View all Users</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Current Users</h6>
                <p class="card-description">View all Users of the system</p>
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Role</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Confirmed Email</th>
                                <th>Phone</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach( var user in Model)
                            {
                                <tr>
                                <td>@user.Name</td>
                                <td>@user.RoleName</td>
                                <td>@user.UserName</td>
                                <td>@user.Email</td>
                                <td>@user.EmailConfirmed</td>
                                <td>@user.Phone</td>
                                </tr>
                            }
                            
                             
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

