@{
    ViewData["Title"] = "Admin All Rooms";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model IEnumerable<ApplicationUser>


<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="User" asp-action="UsersAll">Users</a></li>
        <li class="breadcrumb-item active" aria-current="page">View all Users</li>
    </ol>
</nav>

<div class="d-flex justify-content-right align-items-center flex-wrap grid-margin">

    <div class="d-flex align-items-center flex-wrap text-nowrap">
        <a asp-controller="User" asp-action="AddUser"
           type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0">
            <i class="btn-icon-prepend" data-feather="user"></i>
            Add User
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Current Users</h6>
                <p class="card-description">View all Users of the system</p>
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Confirmed Email</th>
                                <th>Phone</th>
                                <th>Confirmed Phone</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() <= 0)
                            {
                                <tr>
                                    <td class="text-center" colspan="5"> No Room data</td>
                                </tr>
                            }
                            else
                            {
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td>@user.Name</td>
                                        <td>@user.Email</td>
                                        <td>@user.EmailConfirmed</td>
                                        <td>@user.PhoneNumber</td>
                                        <td>@user.PhoneNumberConfirmed</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

